@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Hind Siliguri", sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(6, 6, 14);
    padding: 1.5rem;
}

.nav-bar h1{
    color: white;
    padding-right: 2rem;
    font-size: 30px;
}

.nav-bar button{
    background: linear-gradient( to right, #DD3CFA, #6143F0);
    border: none;
    padding: 1rem 1rem;
    border-radius: 99rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 100px 5px #6143F0;
    transition: all .4s ease-in;
}

.nav-bar button:hover{
    background: #6143F0;
}

.wallet, i{
    color: white;
}

.wallet{
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
}


.input1 input{
    background: #16181D;
    border: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 99rem;
    border: 2px #222329 solid;
}

.input1{
    padding-right: 2rem;
}

.input1 input::placeholder{
    color: white;
}


nav{
    display: flex;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #DD3CFA;
}

.home{
    color: #DD3CFA;
}

/* Home Container */

.home-container{
    background: #13141E;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14.5rem;
}

.home-container h1{
    font-size: 60px;
    line-height: 70px;
}

.home-container p{
    padding-top: 1.5rem;
}

.home-container i{
    color: #DF3AFA;
    padding-right: .5rem;
}

.home-container button{
    background: #FFFFFE;
    border: none;
    padding: 1rem 2rem;
    border-radius: 99rem;
    font-weight: 900;
    cursor: pointer;
    transition: all .4s ease;
}

.home-container button:hover{
    background: #e8e8e8;
    box-shadow: 0 0 100px 5px #DD3CFA;
}

.home-button{
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}


/* Live Auctions */

.auctions-container, .latest-collections{
    background: #030303;
    height: 100vh;
    padding-top: 5rem;
}

.fa-circle-dot{
    color: #F70205;
}

.atitle-left i, .ltitle-left i{
    position: relative;
    top: 20px;
}

.atitle-left, .ltitle-left{
    display: flex;
    gap: .8rem;
}

.atitle-left h1, .ltitle-left h1{
    color: #fff;
}

.atitle-left p, .ltitle-left p{
    color: #999999;
}

.auctions-title, .latest-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25rem;
}

.atitle-right, .ltitle-right{
    display: flex;
    gap: .7rem;
}

.fa-arrow-left{
    background: #1E1E20;
    padding: 1rem;
    border-radius: 99rem;
}

.fa-arrow-right{
    background: linear-gradient(to right,#6746E8, #D43CFC);
    border-radius: 99rem;
    padding: 1rem;
}

.auctions-cards1{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}


.card{
    background: #353444;
    height: 57vh;
    width: 31vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    width: 10rem;
    height: 10rem;
    border-radius: 15px;
}

.img1{
    background: #E3EEFF;
}

.img2{
    background: #F3E0EF;
}

.img3{
    background: #F2EBEB;
}

.img4{
    background: #F0EEFF;
}

.creator{
    color: #82828E;
}

.card-profiles{
    color: white;
}

.card-profiles{
    line-height: 20px;
}

.card1-title{
    color: white;
    font-weight: 500;
    line-height: 20px;
    padding-top: 2rem;
    font-size: 20px;
}

.card-profile1{
    display: flex;
    gap: .7rem;
    align-items: center;
    padding-top: .6rem;
}

.card-profile1 img{
    width: 40px;
    height: 40px;
    border-radius: 99rem;
}

.card1-left{
    color: white;
    line-height: 20px;
}

.card-left1{
    padding-top: 20px;
}

.auctions-cards-bottom{
    width: 85rem;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
}

/* Latest Collection */

.latest-collections{
    background: #0E0D11;
    height: 100vh;
}





/* 
    card background - color: #030303;
    1. yellow - color: #F8B401;
    2.5 blue - color: #082190;
    2. light purple - color: #A81FAC;
    3. dark purple - color: #37295C;
    4. red - color: #CD2003;
    5. light-blue: #1599D4;
    6. light-pink: #F5ADBE;
*/